# Librerías principales de ciencia de datos
pandas
numpy
matplotlib
wordcloud
nltk

# Modelos clásicos de machine learning
scikit-learn

# Deep learning y procesamiento de lenguaje natural
tensorflow
transformers
